<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./img/favicon.svg">
    <title>Dashboard | Titulares</title>
</head>

<body>
    <header>
        <div>
            <div class="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h1 class="titulo">UY - NEWS</h1>
            <div class="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="card inactive">
            <div class="color-layer"></div>
            <img src="./img/logo-elpais.jpg" alt="" class="head">
            <div class="card-body" id="el-pais">
                <% elpais.forEach((element) => { %>
                <a href=<%=element.link %> target="_blank">
                    <div class="item">
                        <div class="image-container">
                            <img src=<%=element.thumbnail %> alt="screenshot" class="screenshot">
                            <p class="time">
                                <%= element.date %>
                            </p>
                        </div>
                        <div class="content">
                            <p class="titular">
                                <%= element.title %>
                            </p>
                            <p class="snippet">
                                <%= element.snippet %>
                            </p>
                        </div>
                    </div>
                    <hr class="separator">
                </a>
                <% }) %>
            </div>
            <div class="card-bottom">
                <img src="./img/arrow-down.svg" alt="" class="arrow-down">
            </div>
        </div>

        <div class="card active">
            <div class="color-layer"></div>
            <img src="./img/logo-elobservador.jpg" alt="" class="head">
            <div class="card-body" id="el-observador">
                <% elobservador.forEach((element)=> { %>
                <a href=<%=element.link %> target="_blank">
                    <div class="item">
                        <div class="image-container">
                            <img src=<%=element.thumbnail %> alt="screenshot" class="screenshot">
                            <p class="time">
                                <%= element.date %>
                            </p>
                        </div>
                        <div class="content">
                            <p class="titular">
                                <%= element.title %>
                            </p>
                            <p class="snippet">
                                <%= element.snippet %>
                            </p>
                        </div>
                    </div>
                    <hr class="separator">
                </a>
                <% }) %>
            </div>
            <div class="card-bottom">
                <img src="./img/arrow-down.svg" alt="" class="arrow-down">
            </div>
        </div>

        <div class="card inactive">
            <div class="color-layer"></div>
            <img src="./img/logo-larepublica.jpg" alt="" class="head">
            <div class="card-body" id="la-republica">
                <% larepublica.forEach((element)=> { %>
                <a href=<%=element.link %> target="_blank">
                    <div class="item">
                        <div class="image-container">
                            <img src=<%=element.thumbnail %> alt="screenshot" class="screenshot">
                            <p class="time">
                                <%= element.date %>
                            </p>
                        </div>
                        <div class="content">
                            <p class="titular">
                                <%= element.title %>
                            </p>
                            <p class="snippet">
                                <%= element.snippet %>
                            </p>
                        </div>
                    </div>
                    <hr class="separator">
                </a>
                <% }) %>
            </div>
            <div class="card-bottom">
                <img src="./img/arrow-down.svg" alt="" class="arrow-down">
            </div>
        </div>
    </div>

    <div class="controls">
        <button id="bk"> < </button>
        <button id="fw"> > </button>
    </div>

    <script src="./js/index.js"></script>
</body>

</html>